@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');

.desktop {
  width: 100vw;
  height: 100vh;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center; /* optional, center the image */
}

.dock {
  position: absolute;
  left: 50%;
  bottom: 0.75rem;

  min-width: 10rem;
  height: 5rem;

  border-radius: 1.75rem;
  border: 1px solid #f0eaf750;

  background: linear-gradient(
    153deg,
    rgba(45, 0, 54, 0.1) 0%,
    rgba(45, 0, 54, 0) 100%
  );

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20pt);

  overflow: hidden;

  transform: translate(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5rem;

  justify-content: center;

  &Focused {
    height: 4rem;
    width: 4rem;

    img {
      height: 100%;
      width: 100%;
    }
  }

  &Item {
    // height: 4.5rem;
    // width: 4.5rem;
    margin: 0.25rem 0.25rem;
    padding: 0.5rem;
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: background-color filter ease-in-out;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;

    cursor: pointer;

    &:hover {
      filter: brightness(110%);
      background-color: rgba(255, 255, 255, 0.479);
    }

    .image {
      height: 3.5rem;
      width: 3.5rem;
    }
  }
}
