.windowContainer {
  display: flex;

  padding-top: 2rem;
  background-color: #00000057;

  width: 100%;
  height: 100%;
  backdrop-filter: blur(30pt);

  .fileExplorer {
    position: relative;
    display: flex;
    // flex: 1;
    flex-direction: column;
    color: white;
    padding: 0.5rem 1rem;

    overflow: hidden;

    .title {
      color: #ffffffc4;
    }

    .path {
      margin-bottom: 1rem;
      color: #ffffffa9;
      font-size: 0.8rem;
    }

    .button {
      border: none;

      font-size: 1.05rem;
      padding: 0.2rem 0.8rem;
      cursor: pointer;
      text-align: left;
      background-color: transparent;
      color: #ffffffc4;
      font-family: var(--font-red-hat-mono);
      border-radius: 0.5rem;

      &Selected {
        @extend .button;
        background-color: #ffffff4f;
      }
    }
  }

  .codeContainer {
    display: flex;
    flex-direction: column;
    background: transparent;
    color: transparent;
  }

  .sideHandle {
    position: relative;
    width: 2px;
    height: 100%;

    .hitbox {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      cursor: ew-resize;
      width: 20px;
      height: 100%;
    }
  }
}
