.fill {
  height: 100%;
  width: 100%;
  flex: 1;
}

.terminal {
  background-color: #00000050;
  color: white;
  flex: 1;
  height: 100%;
  width: 100%;
  padding: 2rem;
  backdrop-filter: blur(30pt);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9;
}

.logsContainer {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logs {
  margin-bottom: 0.5rem;
}

.terminal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: grey;
}

.terminal::-webkit-scrollbar {
  width: 10px;
  background-color: grey;
}

.terminal::-webkit-scrollbar-thumb {
  background-color: greenyellow;
}

.hiddenInput {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -20;
  margin-top: 50;
}
