@import '@xterm/xterm/css/xterm.css';

.loading {
  height: 100%;
  width: 100%;
  flex: 1;

  background-color: #00000050;
  backdrop-filter: blur(30pt);
}

.terminal {
  height: 100%;
  width: 100%;
}

.logsContainer {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logs {
  margin-bottom: 0.5rem;
}

.terminal::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.164);
}

.terminal::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(128, 128, 128, 0.281);
}

.terminal::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.486);
}

.hiddenInput {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -20;
  margin-top: 50;
}
